@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: black;
    color: white;
}


h1{
    text-align: center;
}
h1:hover{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    height: 37.6px;
    cursor: grab;
}
.ed{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    border: 2px solid white;
    text-indent: 2px;
    margin-bottom: 10px;            /* To give spacing between boxes/divs  */
    border-radius: 14px;            /* To give smooth look */
    line-height: 1;               /* To give spacing between lines */
    
}
.ed:hover{
    border: 3px solid rgb(23, 255, 77);
    border-radius: 23px;
    cursor:grab;
    /* font-size: 12px; */
    
}
